<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="辉盾智防">
    <meta name="description" content="辉盾智防" />
    <title>辉盾智防</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/public.css">
    <script src="../js/public.js"></script>
</head>
<body>
    <div class="header">
    <div class="containr">
        <img src="../image/logo02.png" class="logo">
        <div class="navbar">
            <div class="navbar-item">
                <a href="../index.html">首页</a>
            </div>
            <div class="navbar-item">
                <a href="business.html">产品和解决方案</a>
            </div>
            <div class="navbar-item">
                <a >客户案例</a>
                <div class="navbar-child">

                </div>
            </div>
            <div class="navbar-item">
                <a href="news.html">媒体平台</a>
            </div>
            <div class="navbar-item">
                <a href="recruit.html">招贤纳士</a>
            </div>
            <div class="navbar-item">
                <a href="contantus.html">联系我们</a>
            </div>
        </div>
    </div>
    <div class="progress"></div>
</div>

    <div class="banner">

    </div>
    <div class="footer">
        <div class="containr">
            <div class="footer-text fl">
                <ul class="footer-list fl">
                    <div class="footer-list-tit">联系方式</div>
                    <li class="footer-list-item">电话：010-62977099</li>
                    <li class="footer-list-item">传真：010-62977066</li>
                    <li class="footer-list-item">邮箱：admin@paradigmrt.com</li>
                </ul>
                <ul class="footer-list fl">
                    <div class="footer-list-tit">地址</div>
                    <li class="footer-list-item">北京市海淀区上地颐泉汇1号楼532室</li>
                </ul>
            </div>
            <div class="code fr">
                <div class="wechatCode fl">

                    <div class="codeIcon fl">
                        <div class="iconfont icon-weixin"></div>
                    </div>
                    <div class="codeImg fl">
                        <img src="../image/wechatcode.jpg" alt="">
                        <div class="codeDes" style="font-size: 12px">扫描二维码关注</div>
                    </div>
                </div>
                <!--<div class="wechatCode fl">
                    <div class="codeIcon fl">
                        <a href=""><div class="iconfont icon-weibo"></div></a>
                    </div>
                </div>-->
            </div>

        </div>
        <div class="copyright">
            Copyright © 2018 范式融通 |  京ICP备18023351号-1
        </div>
    </div>
<style>
    .banner{
        background-image: url("../image/404.png");
        background-position: center;
    }
</style>
</body>
</html>