<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="辉盾智防">
    <meta name="description" content="辉盾智防" />
    <title>辉盾智防|产品和解决方案</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/business.css">
    <link rel="stylesheet" href="../css/idangerous.swiper2.7.6.css">

    <script src="../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/idangerous.swiper2.7.6.min.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/public.js"></script>
    <script type="text/javascript" src="../js/business.js"></script>

</head>
<body>
    <div class="header">
        <div class="containr clearfloat">
            <img src="../image/logo2.png" class="logo fl">
            <div class="navbar fr">
                <div class="navbar-item">
                    <a href="../index.html" >首页</a>
                </div>
                <div class="navbar-item">
                    <a href="#" class="active">产品和解决方案</a>
                </div>
                <div class="navbar-item">
                    <a href="case.html">客户案例</a>
<!--                    <div class="navbar-child">
                    </div> -->
                </div>
                <div class="navbar-item">
                    <a href="news.html">媒体平台</a>
                </div>
                <div class="navbar-item">
                    <a href="recruit.html">招贤纳士</a>
                </div>
                <div class="navbar-item">
                    <a href="contantus.html">关于我们</a>
                </div>
            </div>
        </div>
        <div class="progress"></div>
    </div>
    
    <div class="banner">
        <div class="containr">
            <h1 class="title">
                <div class="ch">产品和解决方案</div>
            </h1>
            <div class="des">
               <li class="list">防伪标识</li>
               <li class="list">一物一码</li>
               <li class="list">长余辉薄膜制备技术</li>
               <li class="list">多色动态发光防伪技术</li>
           </div>
           <div class="banner-tab-group clearfloat">
            <div class="banner-tab-item active">防伪标识</div>
            <div class="banner-tab-item">一物一码</div>
            <div class="banner-tab-item">高性能长余辉薄膜制备技术</div>
            <div class="banner-tab-item">多色动态发光防伪标签技术</div>
        </div>
    </div>
</div>

<!-- 防伪标识 -->
<div class="biometric" style="display: block;">
    <div class="bio-dec">
        <div class="en">
            <div class="big-en">BUSINESS</div>
            <div class="small-en">BIOMETRIC</div>
        </div>
        <h3 class="company-title">
            <div>
                <p class="ch animated fadeInRight">灵动平台</p>
            </div>
        </h3>
        <div class="containr clever-containr">
            <div class="clever-dec-container">
                <h4 class="clever-dec-title">防伪标识简介</h4>
                <div class="clever-dec-text">
                    <p>当长余辉材料制成的涂层受到紫外光照射时，涂层中的长余辉材料会吸收紫外光能量并将其存储起来。当紫外光停止照射后，这些存储的能量会以光的形式持续释放出来，使得涂层在一段时间内保持发光状态。这种现象在夜间或暗处尤为明显，可以提供足够的亮度用于防伪标识、照明等目的。</p>
                    <p>长余辉材料具有多种颜色，可印刷各种不同的图案，供客户进行个性化定制，形式灵活，应用范围广泛。</p>
                </div>
            </div>

        </div>
    </div>
    <div class="clever-class">
        <div class="containr">
            <div class="clever-class-group">
                <div class="clever-class-item">
                    <div class="clever-class-con">
                        <div class="clever-class-img-icon">
                            <img src="../image/clever-01.png" alt="" class="clever-class-img">
                            <div class="clever-class-icon clever-class-icon-01"><img src="../image/clever-class-icon-01.png" alt=""></div>
                        </div>
                        <div class="clever-class-mark">
                            <div class="clever-class-item-title">个性化定制</div>
                            <p class="clever-class-item-dec">
                               长余辉材料具有多种颜色，并且可以印刷各种不同的图案，这使得它非常适合个性化定制需求。客户可以根据自己的需求和设计理念，选择合适的颜色和图案进行定制。这种个性化定制能够满足不同客户的特殊需求，使得长余辉材料在市场上具有很强的竞争力。
                           </p>
                       </div>
                   </div>
               </div>
               <div class="clever-class-item">
                <div class="clever-class-con">
                    <div class="clever-class-img-icon">
                        <img src="../image/clever-02.png" alt="" class="clever-class-img">
                        <div class="clever-class-icon clever-class-icon-02"><img src="../image/clever-class-icon-02.png" alt=""></div>
                    </div>
                    <div class="clever-class-mark">
                        <div class="clever-class-item-title">形式灵活</div>
                        <p class="clever-class-item-dec">
							长余辉材料的形式非常灵活多样，可以应用于各种产品和场景中。它可以作为涂层或材料直接应用于物体表面，也可以制成各种形状的标识、标牌或装饰品。这种灵活的形式使得长余辉材料可以适用于不同的材质和形状，为产品赋予独特的发光特性，从而提升产品的附加值。
                        </p>
                    </div>
                </div>
            </div>
            <div class="clever-class-item">
                <div class="clever-class-con">
                    <div class="clever-class-img-icon">
                        <img src="../image/clever-03.png" alt="" class="clever-class-img">
                        <div class="clever-class-icon  clever-class-icon-03"><img src="../image/clever-class-icon-03.png" alt=""></div>
                    </div>
                    <div class="clever-class-mark">
                        <div class="clever-class-item-title">应用范围广</div>
                        <p class="clever-class-item-dec">
                           由于其发光特性和多样化的形式，长余辉材料的应用范围非常广泛。它可以用于防伪标识，例如身份证、票据、包装等领域；用于照明，例如夜光开关、标示牌等领域；还可以用于装饰、艺术品制作等方面。由于其持久的发光特性，长余辉材料在夜间或暗处表现尤为明显，为各种应用场景提供了便利且实用的解决方案。
                       </p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>


<div class="clever-scene">
    <div class="big-en">BUSINESS</div>
    <h5 class="clever-scene-tit"><span >延伸场景</span></h5>
    <div class="containr">
        <div class="clever-scene-group">
            <ul>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-1.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        智慧银医
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-2.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        智慧银交
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-3.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        智慧银效
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-4.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        智慧银社
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-5.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        智慧网点
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-6.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        消费金融
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-7.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        智慧信用
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-8.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        智慧安防
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-9.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        商圈金融
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-10.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        农业金融
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-11.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        政府金融
                    </div>
                </li>
                <li class="clever-scene-item">
                    <div class="clever-scene-icon">
                        <img src="../image/clever-scene-icon-12.png" alt="">
                    </div>
                    <div class="clever-scene-item-title">
                        社区金融
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<!-- 一物一码 -->
<div class="biometric">
    <div class="bio-dec">
        <div class="en">
            <div class="big-en">BUSINESS</div>
            <div class="small-en">BIOMETRIC</div>
        </div>
        <h3 class="company-title">
            <div>
                <p class="ch animated fadeInRight">一物一码</p>
            </div>
        </h3> 
        <div class="anti-fraud-dec-container">
            <div class="containr">
                <div class="clearfloat">
                    <div class="anti-fraud-img-group fl">
                        <div class="anti-fraud-img-item-1">
                            <img src="../image/ywym2.png" alt="">
                        </div>
                        <div style="width: 490px;height: 40px;background-color: #3d3d3d;margin-top: 40px;margin-bottom: 40px;"></div>
                        <div class="anti-fraud-img-item-2 clearfloat">
                            <img class="fl" src="../image/ywym1.jpg" alt="">
                            <img class="fr" style="margin-right: 40px" src="../image/ywym3.jpg" alt="">
                        </div>

                    </div>
                    <div class="anti-fraud-text fr">
                     <h4 class="anti-fraud-dec-title">防伪、溯源、防窜货、营销系统>>></h4>
                     <div class="anti-fraud-dec-text">
                       一物一码就是一件商品拥有唯一性的一个 身份识别码，基于云平台将消费者、品牌 商家、流通三者连接起来，从而能提供全 面的防伪、防窜、溯源、营销等一体化解决方案的一种技术。凭借“一物一码”技术组建实时智能大数据服务平台，实现商品促销、跟踪监控全程把控，完成防伪、溯源、防窜货线下到线上的完美承接，有效地增强品牌与消费者之间的互动与信任，有助提升影响力与传播。
                   </div>
               </div>
           </div>

       </div>
   </div>
</div>
</div>

<!--高性能长余辉薄膜制备技术-->
<div class="biometric bio">
    <div class="bio-dec">
        <div class="en">
            <div class="big-en">BUSINESS</div>
            <div class="small-en">BIOMETRIC</div>
        </div>
        <h3 class="company-title">
            <div>
                <p class="ch animated fadeInRight">长余辉薄膜制备</p>
            </div>
        </h3>
        <div class="containr clever-containr">
            <div class="clever-dec-container">
                <h4 class="clever-dec-title">长余辉薄膜制备简介</h4>
                <div class="clever-dec-text">
                    <p>长余辉材料作为一种蓄光发光材料，可以吸收和存储辐射能量，然后在停止激发后仍可以继续发光几秒到几天。团队选取Sr3Y2Ge3O12(SYGO)作为余辉制备基质，该基质为典型的石榴型结构，结构中的八面体空隙和十二面体空隙更有利于离子掺杂，产生更多的有效陷阱，有利于材料发射出高强度的余辉。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bio-pro-group">
        <div class="containr clearfloat">
            <div class="bio-pro-item">
                <div class="bio-pro-block">
                    <div class="bio-pro-icon bio-pro-icon-1"></div>
                    <div class="bio-pro-name">改善发光性能</div>
                </div>
                <div class="bio-pro-con">
                    <div class="bio-pro-title">
                        #改善发光性能
                    </div>
                    <div class="bio-pro-text">
                        Sr3Y2Ge3O12(SYGO)的石榴石型结构利于离子掺杂，形成更多有效陷阱位，有利于高强度余辉发射。八面体空隙和十二面体空隙为离子提供替代位置，增加陷阱位数量，捕获和释放能量，促进余辉发光。这种结构特性使得SYGO材料在长余辉材料领域具有优异的发光性能和稳定性，适用于各种发光应用领域。
                    </div>
                </div>
            </div>

            <div class="bio-pro-item" style="margin-left: 100px;">
                <div class="bio-pro-block">
                    <div class="bio-pro-icon bio-pro-icon-2"></div>
                    <div class="bio-pro-name">提高稳定性</div>
                </div>
                <div class="bio-pro-con">
                    <div class="bio-pro-title">
                        #提高稳定性
                    </div>
                    <div class="bio-pro-text">
						高性能长余辉涂层制备技术解决了传统长余辉材料发光亮度低、时间短，与有机溶剂相溶性、耐候防水性差等诸多问题，实现了高性能长余辉材料的制备与应用。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bio-scene">
        <div class="bio-down">
            <img src="../image/down_pic.png" alt="">
        </div>

        <div class="bio-finger">
            <div class="bio-scene-title"><div class="bio-scene-title-1">产品应用延伸场景</div></div>
            <div class="containr">
                <div class="bio-scene-group clearfloat">
                    <div class="bio-scene-item">
                        <div class="bio-scene-item-box">
                            <div class="bio-scene-item-icon bio-scene-item-icon-1">
                            </div>
                            <div class="bio-scene-item-title">二维码防伪标识</div>
                            <div class="bio-scene-item-loading"></div>
                            <div class="bio-scene-item-text">
                                食品、药品<br>
                                化妆品、电子产品
                            </div>
                        </div>
                    </div>

                    <div class="bio-scene-item">
                        <div class="bio-scene-item-box">
                            <div class="bio-scene-item-icon bio-scene-item-icon-2">
                            </div>
                            <div class="bio-scene-item-title">重要材料</div>
                            <div class="bio-scene-item-loading"></div>
                            <div class="bio-scene-item-text">
                                钞票、人民币<br>
                                发票、奢侈品<br>
                                电子识读
                            </div>
                        </div>
                    </div>

                    <div class="bio-scene-item">
                        <div class="bio-scene-item-box">
                            <div class="bio-scene-item-icon bio-scene-item-icon-3">
                            </div>
                            <div class="bio-scene-item-title">身份护照防伪膜</div>
                            <div class="bio-scene-item-loading"></div>
                            <div class="bio-scene-item-text">
                                机读信息的防伪<br>
                                提高安全系数<br>
                                方便识别<br>
                                安全防伪和美观<br>
                            </div>
                        </div>
                    </div>

                    <div class="bio-scene-item">
                        <div class="bio-scene-item-box">
                            <div class="bio-scene-item-icon bio-scene-item-icon-4">
                            </div>
                            <div class="bio-scene-item-title">时间显示</div>
                            <div class="bio-scene-item-loading"></div>
                            <div class="bio-scene-item-text">
                                时效性<br>
                                可随时间改变图案亮度<br>
                                提高其安全性能以及抗仿制能力<br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<!--        <div class="bio-face">
            <div class="big-en">BUSINESS</div>
            <div class="bio-scene-title"><div class="bio-scene-title-2">人脸识别延伸场景</div></div>
            <div class="bio-face-group">
                <div class="containr clearfloat">
                    <div class="bio-face-item fl">
                        <div class="bio-face-item-title">银行客户的应用</div>
                        <div class="bio-face-item-box">
                            <div class="bio-face-item-img">
                                <img src="../image/bio-face-bank-1.png" alt="">
                            </div>
                            <div class="bio-face-item-lists">
                                <li class="bio-face-item-li">银行自助终端指静脉认证</li>
                                <li class="bio-face-item-li">银行信贷管理系统指静脉认证</li>
                                <li class="bio-face-item-li">企业网银系统指静脉认证</li>
                                <li class="bio-face-item-li">银行私人保险箱指静脉认证</li>
                                <li class="bio-face-item-li">VIP客户服务系统指静脉认证</li>
                            </div>
                        </div>
                    </div>

                    <div class="bio-face-item fl" style="margin-left: 76px">
                        <div class="bio-face-item-title">银行内部的应用</div>
                        <div class="bio-face-item-box">
                            <div class="bio-face-item-img">
                                <img src="../image/bio-face-bank-2.png" alt="">
                            </div>
                            <div class="bio-face-item-lists">
                                <li class="bio-face-item-li">银行业务授权系统</li>
                                <li class="bio-face-item-li">银行门禁系统</li>
                                <li class="bio-face-item-li">银行款包交接身份认证</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<!--多色动态发光防伪技术-->
<div class="biometric">
    <div class="bio-dec">
        <div class="en">
            <div class="big-en">BUSINESS</div>
            <div class="small-en">BIOMETRIC</div>
        </div>
        <h3 class="company-title">
            <div>
                <p class="ch animated fadeInRight">多色动态发光防伪技术</p>
            </div>
        </h3>
        <div class="seer">
            <div class="containr">
                <div class="seer-group">
                    <div class="seer-title">#多色动态发光防伪技术>>></div>
                    <div class="seer-text">
                        我们对合成的稀土材料本身进行掺杂比例的改变，制备出多色发光材料，通过改变不同的激发光得到不同颜色的发射光，在普通光线下，隐藏的图像、信息会重现。当光线在某一特定角度照射时，又会呈现新的图像。保证每个标签在不同的激发光下都有独特的色彩和纹理，以实现防伪功能。动态防伪膜可直接与原有的标签等局部定位贴合，既降低了成本，又遮盖了其原有的易于识别的防伪标签，而且，如被移除，会导致其动态效果消失。
                    </div>
                </div>
                <img class="seer-img seer-img-left" src="../image/colorM.jpg" alt="">
                <img class="seer-img seer-img-right" src="../image/colorM.jpg" alt="">
            </div>
        </div>

    </div>
</div>
</div>
</div>
<script type="text/javascript">
    var busiSwiper = new Swiper('.business',{

    })
</script>





<div class="footer">
    <div class="containr">
        <div class="footer-text">
            <ul class="footer-list fl">
                <div class="footer-list-tit">联系方式</div>
                <li class="footer-list-item">电话：19831903368</li>
                <li class="footer-list-item">传真：19831903368</li>
                <li class="footer-list-item">邮箱：2081989051@qq.com</li>
            </ul>
            <ul class="footer-list fl">
                <div class="footer-list-tit">地址</div>
                <li class="footer-list-item">河北省唐山市华北理工大学</li>
            </ul>
        </div>
        <div class="code fr">
            <div class="wechatCode fl">

                <div class="codeIcon fl">
                    <div class="iconfont icon-weixin"></div>
                </div>
                <div class="codeImg fl">
                    <img src="../image/wechat.png" alt="">
                    <div class="codeDes" style="font-size: 12px">扫描二维码关注</div>
                </div>
            </div>
            <!--<div class="wechatCode fl">
                <div class="codeIcon fl">
                    <a href=""><div class="iconfont icon-weibo"></div></a>
                </div>
            </div>-->
        </div>

    </div>
    <div class="copyright">
        Copyright © 2024 辉盾智防 |  京ICP备18023351号-1
	</div>
</div>
<link href='http://cdn.webfont.youziku.com/webfonts/nomal/106291/44802/5acf09d8f629d9096889bd78.css' rel='stylesheet' type='text/css' />
</body>
</html>