<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招贤纳士</title>
    <link rel="stylesheet" href="../css/reset.css">
    <script src="../js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="../css/public.css">
</head>
<body>
<div class="header">
    <div class="containr">
        <img src="../image/logo2.png" class="logo">
        <div class="navbar">
            <div class="navbar-item">
                <a href="../index.html" >首页</a>
            </div>
            <div class="navbar-item">
                <a href="#">产品和解决方案</a>
            </div>
            <div class="navbar-item">
                <a >客户案例</a>
                <div class="navbar-child">

                </div>
            </div>
            <div class="navbar-item">
                <a href="#">媒体平台</a>
            </div>
            <div class="navbar-item">
                <a href="#" class="active">招贤纳士</a>
            </div>
            <div class="navbar-item">
                <a href="../view/contantus.html">联系我们</a>
            </div>
        </div>
    </div>
</div>
<div class="progress"></div>
</body>
</html>