<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="辉盾智防">
    <meta name="description" content="辉盾智防" />
    <title>辉盾智防</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/recruit-resume.css">
    <script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/work.js"></script>
    <script src="../js/recruit-resume.js"></script>

</head>
<body>
<div class="header">
    <div class="containr">
        <img src="../image/logo2.png" class="logo">
        <div class="navbar">
            <div class="navbar-item">
                <a href="../index.html">首页</a>
            </div>
            <div class="navbar-item">
                <a href="business.html">产品和解决方案</a>
            </div>
            <div class="navbar-item">
                <a href="case.html">客户案例</a>
<!--            <div class="navbar-child">
                </div> -->
            </div>
            <div class="navbar-item">
                <a href="news.html">媒体平台</a>
            </div>
            <div class="navbar-item">
                <a href="recruit.html">招贤纳士</a>
            </div>
            <div class="navbar-item">
                <a href="contantus.html">联系我们</a>
            </div>
        </div>
    </div>
    <div class="progress"></div>
</div>

<div class="banner">

</div>
<div class="resume">
    <div class="containr">
        <div class="resume-item clearfloat">
            <h2>基本信息</h2>
            <div class="input-item">
                <label for="candidate">姓名：</label>
                <input id="candidate" name="candidate" type="text">
            </div>
            <div class="input-item">
                <label for="phoneNum">电话：</label>
                <input id="phoneNum" name="phoneNum" type="text">
            </div>
            <div class="input-item disabled">
                <label for="jobClass">应聘类目：</label>
                <input id="jobClass" name="jobClass" disabled type="text" value="技术">
            </div>
            <div class="input-item disabled">
                <label for="job">职位：</label>
                <input id="job" name="job" disabled type="text" value="前端开发">
            </div>
        </div>
        <div class="resume-item">
            <h2>附件</h2>
            <div class="input-item ">
                <label for="file">简历：</label>
                <button class="fileBtn">选择文件</button>
                <span class="fileUrl"></span>
                <input class="file" name="file" type="file" accept=".pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .rtf, .txt, .html">
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="containr">
        <div class="footer-text">
            <ul class="footer-list fl">
                <div class="footer-list-tit">联系方式</div>
                <li class="footer-list-item">电话：19831903368</li>
                <li class="footer-list-item">传真：19831903368</li>
                <li class="footer-list-item">邮箱：2081989051@qq.com</li>
            </ul>
            <ul class="footer-list fl">
                <div class="footer-list-tit">地址</div>
                <li class="footer-list-item">河北省唐山市华北理工大学</li>
            </ul>
        </div>
        <div class="code fr">
            <div class="wechatCode fl">

                <div class="codeIcon fl">
                    <div class="iconfont icon-weixin"></div>
                </div>
                <div class="codeImg fl">
                    <img src="../image/wechat.png" alt="">
                    <div class="codeDes" style="font-size: 12px">扫描二维码关注</div>
                </div>
            </div>
            <!--<div class="wechatCode fl">
                <div class="codeIcon fl">
                    <a href=""><div class="iconfont icon-weibo"></div></a>
                </div>
            </div>-->
        </div>

    </div>
    <div class="copyright">
        Copyright © 2024 辉盾智防 |  京ICP备18023351号-1
	</div>
</div>
<script>

</script>
</body>
</html>