<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>辉盾智防|招贤纳士</title>
    <meta name="Keywords" content="辉盾智防">
    <meta name="description" content="辉盾智防" />
    <link rel="stylesheet" href="../css/reset.css">

    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/recruit.css">
    <script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/work.js"></script>
</head>
<body>
<div class="header">
    <div class="containr">
        <img src="../image/logo2.png" class="logo">
        <div class="navbar">
            <div class="navbar-item">
                <a href="../index.html" >首页</a>
            </div>
            <div class="navbar-item">
                <a href="business.html">产品和解决方案</a>
            </div>
            <div class="navbar-item">
                <a href="case.html">客户案例</a>
<!--            <div class="navbar-child">
                </div> -->
            </div>
            <div class="navbar-item">
                <a href="news.html">媒体平台</a>
            </div>
            <div class="navbar-item">
                <a href="recruit.html" class="active">招贤纳士</a>
            </div>
            <div class="navbar-item">
                <a href="contantus.html">关于我们</a>
            </div>
        </div>
    </div>
    <div class="progress"></div>
</div>
<div class="banner">
    <div class="containr">
        <h1 class="title">
            <div class="ch">招贤纳士</div>
            <div class="en">JOIN<br>US</div>
        </h1>
        <div class="des">范式融通的创业管理团队
		<br>由华北理工大学实践经验丰富、理论掌握牢固、责任心强的老师和学生组成的。
		<br>是一个有着强烈责任感、充满激情、勇于创新、团结敬业、各有所长的智慧型高素质领导团队。
		<br>本项目的顾问团队中更是集结了材料领域和商业领域中的精英人物，他们为我们团队的发展提供了最强有力的支持。
		<br>期待你的加入!</div>
    </div>
</div>

<div class="recruit">
    <div class="nav">
        <div class="containr">
            <ul class="nav-group">

            </ul>
        </div>
    </div>
    <div class="recruit-group">
        <div class="containr">
            <div class="menu fl">
                <ul class="menu-group">

                </ul>
            </div>
            <div class="recruit-tab fr">
                <div class="recruit-item">

                </div>
                <div class="recruit-item">

                </div>
                <div class="recruit-item">

                </div>
                <div class="recruit-item">

                </div>
                <div class="recruit-item">

                </div>
            </div>
        </div>

    </div>
</div>
<div class="footer">
    <div class="containr">
        <div class="footer-text">
            <ul class="footer-list fl">
                <div class="footer-list-tit">联系方式</div>
                <li class="footer-list-item">电话：19831903368</li>
                <li class="footer-list-item">传真：19831903368</li>
                <li class="footer-list-item">邮箱：2081989051@qq.com</li>
            </ul>
            <ul class="footer-list fl">
                <div class="footer-list-tit">地址</div>
                <li class="footer-list-item">河北省唐山市华北理工大学</li>
            </ul>
        </div>
        <div class="code fr">
            <div class="wechatCode fl">

                <div class="codeIcon fl">
                    <div class="iconfont icon-weixin"></div>
                </div>
                <div class="codeImg fl">
                    <img src="../image/wechat.png" alt="">
                    <div class="codeDes" style="font-size: 12px">扫描二维码关注</div>
                </div>
            </div>
            <!--<div class="wechatCode fl">
                <div class="codeIcon fl">
                    <a href=""><div class="iconfont icon-weibo"></div></a>
                </div>
            </div>-->
        </div>

    </div>
    <div class="copyright">
        Copyright © 2024 辉盾智防 |  京ICP备18023351号-1
	</div>
</div>
<script src="../js/config.js"></script>
<script src="../js/recruit.js"></script>
<link href='http://cdn.webfont.youziku.com/webfonts/nomal/106291/44802/5acf09d8f629d9096889bd78.css' rel='stylesheet' type='text/css' />
</body>
</html>